<% layout("/layouts/boilerplate") %>

<div class="nav2-container">
  <div class="filters">
    <div class="filter">
      <img src="/icons/room.png" alt="rooms" />
      <p>Rooms</p>
    </div>
    <div class="filter">
      <img src="/icons/home.png" alt="homes" />
      <p>Homes</p>
    </div>
    <div class="filter">
      <img src="/icons/hotel.png" alt="hotels" />
      <p>Hotels</p>
    </div>
    <div class="filter">
      <img src="/icons/resort.png" alt="resorts" />
      <p>Resorts</p>
    </div>
    <div class="filter">
      <img src="/icons/mountain.png" alt="mountains" />
      <p>Mountains</p>
    </div>
    <div class="filter">
      <img src="/icons/boat.png" alt="boats" />
      <p>Boats</p>
    </div> 
  </div>

   <!-- Tax -->
   <div class="btn btn-outline-dark">
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault"
        >Show Tax</label
      >
    </div>
  </div>


  <div class="dropdown">
    <button class="show-filters-btn btn btn-outline-dark  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Show Filters</button>

<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  
    <a  class="dropdown-item" href=""><img src="/icons/room.png" alt="rooms" />Rooms</a>
    <a class="dropdown-item" href=""><img src="/icons/home.png" alt="homes" />Homes</a>
    <a class="dropdown-item" href=""><img src="/icons/hotel.png" alt="hotels" />Hotels</a>
  <a class="dropdown-item" href=""><img src="/icons/resort.png" alt="resorts" />Resorts</a>
  <a class="dropdown-item" href=""><img src="/icons/mountain.png"       alt="mountains" />Mountains</a>
  <a class="dropdown-item" href=""><img src="/icons/boat.png" alt="boats" />Boats</a>
  
</div>
</div>

</div>


  
 
  



<h2>All Listings</h2>
<!-- <form method="GET" action="/listings/new">
    <button>Add a New Listing</button>
  </form> -->

<div class="card-container">
  <% for(list of allListings){ %>
  <a href="/listings/<%= list._id %>" class="listing-link">
    <div class="card listing-card">
      <img
        src="<%=list.image.url%>"
        alt="<%= list.image.filename %>"
        class="card-img-top"
        style="height: 18rem"
      />
      <div class="card-body">
        <p><b><%= list.title %></b></p>
        <p class="card-text">
          &#x20B9; <%= list.price.toLocaleString("en-IN") %>/ Night
        </p>
      </div>
    </div>
  </a>

  <% } %>
</div>
